@page
@model IgnAppTestSQL.Pages.Account.Confirm.VerifyEmailModel
@{
    ViewData["Title"] = "VerifyEmail";
}

<h1>Confirm Your Email</h1>
<div>
    <p>
        Confirm Your Email Before Proceeding.
        <br />
        If you haven't received your email please check your spam folder!
    </p>
</div>

